.pageContainer {
  padding: 16px;
  font-family: sans-serif;
  position: relative;
  margin-bottom: 430px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.addButton, .saveButton {
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.parseButton, .saveButton {
  background-color: #28a745;
  color: #fff;
}

.saveButton {
  position: fixed;
  bottom: 100px;
  right: 24px;
  transition: background-color 0.2s, opacity 0.2s;
  min-width: 133px;
  min-height: 45px;
}

.saveButton:disabled {
  background-color: #5a6268; /* Темно-серый цвет */
  cursor: default;
}


.addButton {
  background-color: #28a745;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0; 
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Подтверждение удаления */
.confirmBox {
  background: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: -120px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.confirmButtons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.confirmButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}

.cancelButton {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}







/* Данные объекта SONG */

.metaLabel {
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}

.metaInput {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.4rem; /* отступ между текстом и полем */
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.iconRow, .iconRowAnnotation {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.iconRow {
  position: sticky;
  top: 0;
  margin-left: -16px;
  margin-right: -16px;
  padding: 10px 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.iconRowAnnotation {
  display: flex;
  margin-top: 30px;
  gap: 100px;
  margin-bottom: 0;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.iconContainer img {
    width: 35px;
    height: 35px;
}

.iconLabel {
    font-size: 12px;
    margin-top: 4px;
}


/* Аннотации */
/* Панель управления аннотациями */
.annotationPanel {
  position: fixed;
  bottom: 50px; /* Над BottomNavigation */
  left: 0;
  right: 0;
  background-color: #2C2C2C;
  padding: 10px;
  display: flex;
  gap: 10px;
  z-index: 90;
}

.formActions {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.formActions button {
  flex: 1; /* Каждая кнопка занимает одинаковую ширину */
  min-width: 0; /* чтобы flex не ломался от длинного текста */
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; /* не переносить текст */
}

.createAnnotationButton, .cancelAnnotationButton, .saveAnnotationButton {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.createAnnotationButton {
  background-color: #28a745;
  color: white;
}

.createAnnotationButton:disabled {
  background-color: #555;
  color: #888;
  cursor: default;
}

.cancelAnnotationButton {
  background-color: #6c757d;
  color: white;
}

.formTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.annotationModal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 85%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.annotationTextarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  font-family: inherit;
  box-sizing: border-box;
  /*отключение регулирования размера textarea*/
  resize: none;
}

.saveAnnotationButton {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.saveAnnotationButton:disabled {
  background-color: #555;
  color: #888;
  cursor: default;
}

.deleteAnnotationButton {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background-color: #dc3545; /* Красный */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.deleteAnnotationButton:disabled {
  cursor: default;
}

.saveIcon {
  position: fixed;
  z-index: 85;
  bottom: 100px;
  right: 16px;

  cursor: pointer;

  width: 50px;
  height: 50px;

  transition: 0.2s ease-in-out;
}

.saveIcon.disabled {
  cursor: default;
  filter: invert(60%);
  
}
