/* Pagination.module.css */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;;
  }
  
  .pageLink {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .pageLink:hover {
    background-color: #f0f0f0;
  }
  
  .active .pageLink {
    background-color: #a7a7a7;
    color: white;
  }
  
  .disabled .pageLink {
    opacity: 0.5;
    
  }
  
  .breakLink {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border: 1px solid #ffffff;
  }
  