.searchBar {
  /*padding: 16px;*/
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.searchModeTabs {
  display: flex;
  margin-bottom: 12px;
  text-align: center;
}

.searchModeTab {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #eee;
  color: #333;
  cursor: pointer;
}

.active {
  background-color: #2d89ff;
  color: #fff;
}

.artistList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.artistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  height: 38px;
}

.artistItem:hover {
  background-color: #ddd;
}

.artistLabel, .artistCount {
  font-size: 1rem;
  font-weight: bold;
  color: #111;
}

.songItemContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.noResults {
  text-align: center;
  color: #888;
  margin-top: 20px;
}


/* НАдписи с названиеми исполнителя и песни */ 
.songHint {
  margin-bottom: 12px;
  text-align: center;
}

.selectedArtist{
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}

.selectedArtistWithout{
  font-size: 1.4rem;
  font-weight: bold;
  color: #111;
  margin: 0;
}

.selectedTitle{
  font-size: 1.4rem;
  font-weight: bold;
  color: #111;
  margin: 0;
  padding-bottom: 4px;
}
