/* Базовые стили для мобильных */
.searchInput {
    display: block; /* Изменяем с flex на block */
    width: 100%; /* Растягиваем на всю ширину */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
    margin-left: 4px;
    margin-right: 4px;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Добавляем границу для визуализации */
}

/* Стили для таблеток режимов поиска */
.searchModeTabs {
    display: flex;
    gap: 8px;
    margin: 12px 0;
}

.searchModeTab {
    flex: 1;
    padding: 18px; /*паадинг только сверху и снизу*/
    border-radius: 8px;
    border: 2px solid #e0e0e0;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.searchModeTab.active {
    background: #767676;
    color: white;
    border-color: #767676;
}

/* toggle-переключатель вся область */
.toggleSwitch {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #ececec;
    border-radius: 12px;
    margin: 4px;
    margin-bottom: 30px;
}

.toggleLabel {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
}

.toggleSlider { /* неактивный слайдер овал */
    position: relative;
    width: 52px;
    height: 32px;
    background: #ddd;
    border-radius: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.toggleSlider::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    left: 4px;
    top: 4px;
    transition: transform 0.3s;
}

input:checked + .toggleSlider {
    background: #767676;
}

input:checked + .toggleSlider::before {
    transform: translateX(20px);
}

.artistItem {
    display: flex;
    flex-direction: column;
    padding: 18px;
    margin: 4px;
    border-radius: 8px;
    background-color: #ececec;
    cursor: pointer;
}

.artistItem:hover {
    background-color: #cecece;
}

.artistLabel {
    font-size: 16px;
    font-weight: 500;
}

/* Стили для кнопки назад */
.backButton {
    width: calc(100% - 8px); /* компенсируем margin 4px с обеих сторон */
    padding: 18px;
    margin: 4px;
    border-radius: 8px;
    background: #767676;
    color: white;
    
    font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: none;
}

.noResults {
    font-size: 16px;
    color: #888;
    margin-top: 70px;
    text-align: center;
}

/* Скрытие оригинальных элементов управления */
input[type="radio"],
input[type="checkbox"] {
    display: none;
}