.songItem {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
  }
  
  .songItem:hover {
    background-color: #ddd;
  }
  
  .songTitle {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 4px;
    color: #111;
  }
  
  .songArtist {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
  }
  


/* .songItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    background-color: #ececec;
    cursor: pointer;
}

.songItem:hover {
    background-color: #cecece;
}

.songTitle {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #333;
    margin-top: 0px;
}

.songArtist {
    font-size: 14px;
    color: #666;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 0px;
}
 */
