.songContainer {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;

  display: flex; /* Включаем Flexbox */
  justify-content: space-between; /* Распределяем пространство МЕЖДУ элементами */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.songContainer:hover {
  background-color: #ddd;
}

.songTitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 4px;
  color: #111;
}

.songArtist {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

.versionCount {
  font-size: 0.8rem;
  font-weight: bold;
  color: #111;
}
  
