.songItem {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;

    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Распределяем пространство МЕЖДУ элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */

    min-height: 38px;
    gap: 20px;
  }

.songInfo {
  /* Заставляем этот блок сжиматься, если не хватает места */
  min-width: 0; 
}
  
/* Для устройств с hover (ПК) */
@media (hover: hover) {
  .songItem:hover {
    background-color: #ddd;
  }
}

/* Для устройств без hover (мобильные) */
@media (hover: none) {
  .active {
    background-color: #ddd;
  }
}
  
.songTitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 4px;
  color: #111;

  /* --- ЗАПРЕЩАЕМ ПЕРЕНОС ТЕКСТА НА НОВУЮ СТРОКУ --- */
  white-space: nowrap;
  /* --- СКРЫВАЕМ ВСЕ, ЧТО ВЫЛЕЗАЕТ ЗА ГРАНИЦЫ --- */
  overflow: hidden;
  /* --- ДОБАВЛЯЕМ МНОГОТОЧИЕ В КОНЦЕ --- */
  text-overflow: ellipsis;
}
  
.songArtist {
  font-size: 0.9rem;
  color: #555;
  margin: 0;

  /* --- ЗАПРЕЩАЕМ ПЕРЕНОС ТЕКСТА НА НОВУЮ СТРОКУ --- */
  white-space: nowrap;
  /* --- СКРЫВАЕМ ВСЕ, ЧТО ВЫЛЕЗАЕТ ЗА ГРАНИЦЫ --- */
  overflow: hidden;
  /* --- ДОБАВЛЯЕМ МНОГОТОЧИЕ В КОНЦЕ --- */
  text-overflow: ellipsis;
}

  .versionCount {
  font-size: 1rem;
  font-weight: bold;
  color: #111;
}

.centeredTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #111;
  margin: 0; /* Убираем все отступы */
}