.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили для кнопки Play Video */
.playButton {
  background-color: transparent; /* Прозрачный фон для кнопки */
  border: none;
  cursor: pointer;

  position: fixed;
  bottom: 70px;
  right: 20px;
}

.playIcon {
  width: 50px;
  transition: transform 0.2s;
}




.videoWrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}










.videoContainer {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;

  padding: 8px;
}

.closeIcon {
  width: 40px;
  filter: invert(1);
}